$color-light-grey: #dedfe3;
$color-grey: #80809b;
$color-white: #fff;
$color-greyblue: #5189a0;
$color-darkgrey: #44444f;
$color-oceangreen: #65e496;
$color-blue: #65e4ce;
$color-deepoceangreen: #54b7a1; //mainbg
$color-deepblue: #426384; //mainbg
$color-darkviolet: #696980; //text
$color-violet: #9191b5;
$color-lightest-grey: #f5f6fa;